@import '../colors.scss';
@import '~bootstrap/scss/bootstrap-utilities.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    & a {
        text-decoration: none;
        color: $skis;
    }
}

@keyframes scale-up-wrapper {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.wrapper {
    position: relative;
    width: 400px;
    margin-bottom: 30px;
    animation: scale-up-wrapper 0.8s ease forwards;
    @include media-breakpoint-down(md) {
        width: 200px;
    }
}

@keyframes scale-up-title {
    from {
        transform: translateX(-50%) skew(0deg, -11deg) scale(0);
    }
    to {
        transform: translateX(-50%) skew(0deg, -11deg) scale(2);
    }
}

.title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) skew(0deg, -11deg) scale(0);
    animation: scale-up-title 0.6s ease 0.6s forwards;
    color: white;
    text-shadow: 2px 2px 0px black;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    @include media-breakpoint-down(md) {
        font-size: 1em;
    }
}
