$background: #ffffff;
$base-color: #c6ced2;
$form-error: #c50000;
$menu-item-text-color: darken($base-color, 25%);
$skis: #3567cc;
$helmets: #fd4f19;
$snowboard-boots: #f8d501;
$beanies: #ba1e4f;
$jackets: #f4ea77;
$snowboards: #568eeb;
$gloves: #9c6ac6;
$ski-bindings: #39b7c4;
$snowboard-bindings: #5bd9ab;
